PIPOKER_ENV=prod
BACKEND_TAG=main
WEB_TAG=main
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=change-me
MONGODB_APP_USERNAME=pipoker
MONGODB_APP_PASSWORD=change-me
BROKER_USERNAME=pipoker
BROKER_PASSWORD=change-me
