PIPOKER_ENV=qa
BACKEND_TAG=qa
WEB_TAG=qa
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=change-me
MONGODB_APP_USERNAME=pipoker
MONGODB_APP_PASSWORD=change-me
BROKER_USERNAME=pipoker
BROKER_PASSWORD=change-me
