PIPOKER_ENV=qa
BACKEND_TAG=qa
WEB_TAG=qa
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=change-me
MONGODB_APP_USERNAME=pipoker
MONGODB_APP_PASSWORD=change-me
BROKER_USERNAME=pipoker
BROKER_PASSWORD=change-me
# Feedback from the site becomes issues of a Jira project, PIP unless JIRA_PROJECT says another (see README.md, «Feedback»)
JIRA_URL=https://api.atlassian.com/ex/jira/1cc74e6d-a44c-46c1-9d56-7e869f0dcc9a
JIRA_EMAIL=
JIRA_API_TOKEN=
